
body {
font-family: Arial;
color: black;
}

.split {
height: 100%;
width: 50%;
position: fixed;
z-index: 1;
top: 0;
overflow-x: hidden;
padding-top: 20px;
}

.left {
left: 0;
background-color: white;
}

.right {
right: 0;
background-color: white;
}

.centered {
    position: absolute;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 5%;
    left: 10%;
    transform: translate(-5%, 0%);
    text-align: left;
}
.target_paragraph {
    border: 1px solid black ;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

.flag_button {
    background-color: rgb(228, 107, 107);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.flag_button:hover {
    background-color: rgb(201, 85, 85);
}

.button {
    background-color: rgb(118, 148, 236);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    float: right;
}

.button:hover {
    background-color: rgb(71, 109, 221);
}











/* STYLES FOR THE FORM*/

.question{
    font-size: 18px;
}
.radio-buttons{
    margin-left: 20px;
}
.checkboxes{
    margin-left: 20px;
}
.child_checkboxes{
    margin-left: 50px;
}
/* The container */
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
        top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* The container */
.checkbox-container {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 18px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.description_text {
visibility: hidden;
background-color: rgb(150, 150, 150);
color: #fff;
border-left: 10px solid rgb(255, 255, 255);
border-radius: 4px;
padding: 5px 5px;
position: absolute;
z-index: 1;
opacity: 0;
transition: opacity 0.2s;
transition-delay: 0.9s;
}

.checkbox-container:hover .description_text {
visibility: visible;
opacity: 1;
}